$gutter:20px;
$col:4;
$col1:6;
$headercolor:white;
$maincolor: rgb(0, 83, 151);
$mainCol:12;


$orange:#ffa22d;
$grayColor: rgba(#333,0.7);

$z-first:11;
$z-second:111;
$z-third:1111;
$z-fourth:11111;
$z-fifth:111111;
